<div class="daily-plan-expanel-div">
    <mat-expansion-panel class="daily-plan-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

            <mat-panel-title class="daily-plan-expansion-title">
                <section>
                    <mat-checkbox class="daily-plan-expanel-checkbox" [disabled]="true" [checked]="true"></mat-checkbox>
                </section>
                Lunes 8 de Enero
                <mat-icon class="daily-plan-expanel-icon" (click)="iconAddClicked()">add_circle</mat-icon>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <p>Desayuno</p>
        <mat-checkbox [color]="color" [checked]="true"></mat-checkbox>
        <span>
            Pan integral (50g) - 
            <span class="daily-plan-expanel-edit" (click)="dailyPlanExpanelEdit()">editar</span>
            <span class="daily-plan-expanel-delete" (click)="dailyPlanExpanelDelete()">eliminar</span>
        </span>
    </mat-expansion-panel>
</div>