@import "../../../../config/variables.scss";


$color_1: #272F1F;
$color_2: #435B1D;
$color_3: #3C5C0D;
$color_4: #CF451A;

.daily-plan-expanel-div {
	margin: 0 auto;
	padding-top: 20px;
    
	.daily-plan-expansion-panel {
        .daily-plan-expansion-title {
			color: $color_1;
			font-size: 12px;
			font-weight: 400;
			.daily-plan-expanel-icon {
				/*color: $color_2;*/
				margin-left: 10px;
			}
		}
		.daily-plan-expanel-edit {
			text-decoration: underline;
			margin: 3px;
			// color: get-theme-color($map: $custom-theme, primary, default);
			color: $primary-color;
			
		}
		.daily-plan-expanel-delete {
			text-decoration: underline;
			margin: 3px;
			color: $warn-color;
		}
	}
}
